.chapterBox {
	padding: 20px;
	background-color: #f5f5f5;
	border: 1px solid #e3e3e3;
	margin-top: 40px;
	margin-bottom: 40px;
}

.chapter-info {
	font-weight: 200;
	color: #444;
	font-size: 14px;
	margin-left: 20px;
}

.chapter-note {
	color: #666;
	padding: 10px;
	font-size: 14px;
	line-height: 32px;
	padding-left: 40px;
	border: 1px dashed #e3e3e3;
	margin: 20px;
	background-color: #ffffff;
}

.subjectUnitViewBox {
	padding: 10px;
	font-size: 16px;
	line-height: 32px;
	padding-left: 40px;
	border: 1px solid #e3e3e3;
	margin: 4px;
	margin-top: 30px;
	margin-bottom: 30px;
	background-color: #ffffff;
}

.subjectUnitViewBox label {
	margin-bottom: 0px;
}

.subjectUnitViewBox:HOVER {
	border: 1px solid #d13133;
}

.subjectUnitViewBox .subjectOrder {
	float: left;
	margin-left: -58px;
	background-color: #d13133;
	color: #ffffff;
	padding: 2px;
	padding-left: 12px;
	padding-right: 12px;
}

.subjectUnitViewBox .subjectPoint {
	color: #aaa;
	font-weight: 300;
	margin-left: 20px;
}

.answerUnitViewBox {
	font-size: 14px;
	line-height: 26px;
	border: 1px dashed;
	background-color: #fcf8e3;
	border-radius: 6px;
	padding: 6px;
	margin-bottom: 6px;
}

.answerUnitViewBox ul {
	margin-left: -30px;
}

.answerUnitViewBox li {
	margin: 4px;
	list-style-type: none;
	float: left;
	padding-left: 10px;
	padding-right: 10px;
}

.answerUnitViewBox input {
	border: 1px dashed;
}

.answerInterLocutionViewBox {
	font-size: 14px;
	border: 1px dashed;
	line-height: 26px;
	background-color: #fcf8e3;
	border-radius: 6px;
	padding: 6px;
	margin-bottom: 6px;
}

.answerInterLocutionViewBox textarea {
	border: 1px dashed;
}

.answerRightViewBox {
	font-size: 14px;
	border: 1px dashed;
	line-height: 26px;
	background-color: #dff0d8;
	border-radius: 6px;
	padding: 6px;
	margin-bottom: 6px;
}

.answerVacancyViewBox {
	font-size: 14px;
	border: 1px dashed;
	line-height: 26px;
	background-color: #fcf8e3;
	margin-top: 4px;
	border-radius: 6px;
	padding: 6px;
	margin-bottom: 6px;
}

.answerVacancyViewBox .form-group {
	margin-bottom: 12px;
}

.answerVacancyViewBox li {
	margin: 4px;
	list-style-type: none;
}

.answerVacancyViewBox input {
	border: 1px dashed;
}

.chapter-material {
	border: 1px dashed #666666;
	background-color: #ffffff;
	margin-bottom: 20px;
	padding: 20px;
	margin: 4px;
}

.chapter-material-title {
	font-size: 18px;
	font-weight: 700;
	text-align: center;
	margin-top: 4px;
	margin-bottom: 1em;
}

/* 下面为移动端css */
.chapterBox-mobile {
	background-color: #f5f5f5;
	border: 1px solid #e3e3e3;
	margin-top: 40px;
	margin-bottom: 40px;
}

.chapterBox-mobile .subjectUnitViewBox {
	padding: 10px;
	font-size: 16px;
	line-height: 32px;
	padding-left: 15px;
	padding-top: 16px;
	border: 1px solid #e3e3e3;
	margin: 4px;
	margin-top: 40px;
	margin-bottom: 30px;
	background-color: #ffffff;
	border: 1px solid #e3e3e3;
}

.chapterBox-mobile .subjectUnitViewBox .subjectOrder {
	float: left;
	margin-left: -20px;
	margin-top: -35px;
	background-color: #d13133;
	color: #ffffff;
	padding: 2px;
	padding-left: 12px;
	padding-right: 12px;
	background-color: #d13133;
}

.chapterBox-mobile .chapter-title {
	margin-left: 16px;
}

.chapterBox-mobile .chapter-note {
	color: #666;
	font-size: 14px;
	line-height: 1.5em;
	padding-left: 8px;
	border: 1px dashed #e3e3e3;
	margin: 10px;
	background-color: #ffffff;
}